:root {
  --neutral-00: #ffffff;
  --neutral-10: #f0f4fc;
  --neutral-30: #727272;
  --neutral-70: #323232;
  --neutral-90: #000000;
  --primary-20: #244c98;
  --primary-40: #d7e2f6;
  --text-00: #ffffff;
  --text-20: #244c98;
  --text-50: #1f4284;
  --text-70: #323232;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100svh;
  font-family: 'Manrope', system-ui, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-70);
  display: grid;
  place-content: center;
  background-color: var(--neutral-00);
}

button {
  cursor: pointer;
  border: none;
  font: inherit;
  transition: all 300ms ease-in-out;
  text-wrap: nowrap;
  background-color: transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(-5px);
  }
}

dialog {
  border: none;
  align-self: center;
  justify-self: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

input {
  width: 100%;
  font: inherit;
  border: none;
  text-wrap: nowrap;
  color: var(--text-50);
  background-color: var(--primary-40);
  padding: 1.5rem;
  border-radius: 0.625rem;

  &::placeholder {
    color: var(--text-50);
  }
}

.modal {
  min-width: 500px;
  padding: 1.5rem;
  background-color: var(--neutral-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  .modal__close {
    --_cross-thickness: 2px;
    --_cross-length: calc(sqrt(2 * pow(14, 2)) * 1px);
    align-self: flex-end;
    position: relative;
    background-color: var(--neutral-00);
    border-radius: 0.625rem;
    width: 3.25rem;
    height: 3.25rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: var(--neutral-90);
      border-radius: 99999px;
    }

    &::before {
      width: var(--_cross-length);
      height: var(--_cross-thickness);
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      width: var(--_cross-length);
      height: var(--_cross-thickness);
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .modal__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    .modal__title {
      font-size: 1.5rem;
      color: var(--text-70);
    }

    .modal__form {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;

      .modal__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .modal__inputs {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
        }

        .modal__checkbox {
          display: flex;
          align-items: center;
          gap: 0.875rem;
          font-size: 1.125rem;
          color: var(--text-70);

          input {
            display: none;
          }

          label {
            display: inline-block;
            width: 1.125rem;
            height: 1.125rem;
            background-color: transparent;
            border: 2px solid var(--neutral-70);
            border-radius: 3px;
            cursor: pointer;
          }

          input:checked + label {
            background-color: var(--neutral-70);
          }

          .modal__remember {
            font-weight: 400;
          }
        }

        .modal__restore {
          color: var(--text-20);
          font-size: 1.25rem;
        }
      }

      .modal__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }
}

.btn {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
}

.btn--primary {
  background-color: var(--primary-20);
  color: var(--text-00);
}

.btn--secondary {
  border: 1px solid var(--primary-20);
  color: var(--text-20);
}
